node_modules
**/node_modules

.git
.gitignore

**/.next
**/dist
**/coverage

**/.env
**/.env.*
!**/.env.example
!**/.env.staging.example
!**/.env.prod.example

**/*.log
**/npm-debug.log*

.turbo
**/tsconfig.tsbuildinfo

compose*.yml
docker-compose*.yaml
Makefile
.github
